 <!-- Transformar de <script> para EJS -->
    <div class="countdown">
        <script> 

            var Countdown = new Date('Feb 3, 2024 18:30:00').getTime();

            //atualiza a função a cada 1 segundo
            var x = setInterval(function() {

                //pega a data atual
                var now = new Date().getTime();

                //distancia entre as datas
                var distance = Countdown - now;

                //pega o valor dos dias/horas/minutos/segundos
                var days = Math.floor(distance/(1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                function pad(num, size){
                    var n = num + "";
                    while(n.length < size) n = '0'+n;
                    return n;
                }

                days = pad(days, 2)
                hours = pad(hours, 2)
                minutes = pad(minutes, 2)
                seconds = pad(seconds, 2)
                //pega o elemento pelo ID e altera o texto
                document.querySelector('.countdown').innerHTML = `${days} : ${hours} : ${minutes} : ${seconds}`

                //se chegamos ao dia da data
                if(distance<0){
                    clearInterval(x);
                    let aux = document.querySelector('.countdown')
                    aux.textContent += '\n' + 'A Contagem chegou ao fim'; 
                }

            }, 1000)

        
        </script>
    </div>