body{
    background-color: whitesmoke;
}

h1{
    font-size: 100px;
    text-align: center;
}

p{
    font-weight: 700;
    font-size: 50px;
    color: gold;
    text-align: center;
}

footer{
    text-align: center;
}

.countdown{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;

    font-family: Poppins;
    font-weight: 400;
    font-size: 50px;
    color:black;
    text-align: center;
}
.countdown_text{
    align-self: auto;
    margin-top: 0px;
}
.countdown_subtitle{
    
    /*margin: 15px 0px ;*/
    margin-bottom: 0px;
    padding-left: 50px;    

    font-family: Poppins;
    font-weight: 300;
    font-size: 18px;
    word-spacing: 30px;

    color: gainsboro;
}

.launch{
    font-family: Poppins;
    font-weight: 500;
    font-size: 50px;
    color: #6C63FF;
    text-align: center;
}

.button_disc{
    font-family: Poppins;
    font-weight: 300;
    font-size: 15px;
    color: #6C63FF;
}

button{
    /* Alinhar o botão no centro e estilizar */
    color: #6C63FF;
}