body{
    background-color: whitesmoke;
}

h1{
    font-size: 100px;
    text-align: center;
}

p{
    font-weight: 700;
    font-size: 50px;
    color: gold;
    text-align: center;
}

footer{
    text-align: center;
}

.countdown{
    font-family: Poppins;
    font-weight: 300;
    font-size: 50px;
    color:black;
    text-align: center;


}

.launch{
    font-family: Poppins;
    font-weight: 500;
    font-size: 50px;
    color: purple;
    text-align: center;
}