body{
    background-color: whitesmoke;
}

h1{
    font-size: 100px;
    text-align: center;
}

p{
    font-size: 50px;
    text-align: center;
}

footer{
    text-align: center;
}

.countdown{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    width: 50%;

    font-family: Poppins;
    font-weight: 400;
    font-size: 50px;
    color:black;
    text-align: center;
}
.countdown_text{
    align-self: auto;
    margin-top: 0px;
}
.countdown_subtitle{    
    margin-bottom: 0px;
    padding-left: 75px;    

    font-weight: 300;
    font-size: 18px;
    word-spacing: 30px;

    color: gainsboro;
}

.launch{
    font-weight: bold;
    word-spacing: 5px;
    font-size: 30px;
    color: #6C63FF;
    text-align: center;
}

.button_disc{
    margin: 10px 0px;
    font-weight: 300;
    font-size: 15px;
    color: purple;
}

button{
    /* Alinhar o botão no centro e estilizar */
    margin: 20px 0px;

    background-color: #6C63FF;
    color: white;
    
    border-radius: 5px;
    align-self: center;
    width: 125px;
    height: 35px;



}