<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>
<body>
    <header> 
        <img id="top_image" src="images/top-image.svg" alt="imagem do topo">

    </header>

    <main> 
        <img class= "rocket" src="images/rocket.svg" alt="imagem do foguete">

        <%- include('../partials/script'); %> 
    </main>

    <footer>
        <img id="bottom-image" src="images/bottom-image.svg" alt="imagem de baixo">
 
        Feito por Vinicius Santos 
    </footer>
</body>
</html>